.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-height: 100px;
  background-color: #D9D9D9;
  padding: 15px;

  div {
    margin: 0 20px;

    #logo-curso {
      max-width: 10vw;
      max-height: 100px;
    }
    #fale-conosco-img {
      width: 21vw; 
      max-width: 200px;
    }
    #endereco-img {
      width: 25vw;
      max-width: 230px;
    }
    #logo-utfpr {
      max-width: 10vw;
      max-height: 70px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    height: 100px;
  }

  .texto-footer {
    display: none;
  }

  img {
    max-width: 20vw !important;
  }
}