.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-height: 150px;
  background-color: #D9D9D9;
  position: fixed;
  bottom: 0;
  padding: 15px;

  div {
    margin: 0 20px;

    #logo-curso {
      width: 10vw;
      max-width: 120px;
      max-height: 130px;
    }
    #fale-conosco-img {
      width: 21vw; 
      max-width: 260px;
    }
    #endereco-img {
      width: 25vw;
      max-width: 300px;
    }
    #logo-utfpr {
      width: 10vw;
      max-height: 120px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    height: 120px;
  }

  .texto-footer {
    display: none;
  }

  img {
    width: 20vw !important;
  }
}