<footer class="footer">
    <div>
        <img src="assets/logo-curso-fundo-transp1.png" alt="logo do curso" style="width: 10vw; max-height: 130px; max-width: 120px;">
    </div>
    <div class="texto-footer">
        <img src="assets/fale-conosco.png" alt="fale conosco" style="width: 21vw; max-width: 310px;">
    </div>
    <div class="texto-footer">
        <img src="assets/endereco.png" alt="endereco" style="width: 25vw; max-width: 360px;">
    </div>
    <div>
        <img src="assets/assinatura_UTFPR_DV1.png" alt="logo da UTFPR" style="width: 10vw; max-height: 130px;">
    </div>
</footer>
