<footer class="footer">
    <div>
        <img src="assets/logo-curso-fundo-transp1.png" alt="logo do curso" style="width: 10vw; max-width: 500px;">
    </div>
    <div>
        <label class="footer_text">FALE CONOSCO</label>
        <br>
        <label class="footer_text2">coens-dv@utfpr.edu.br <br> (46) 3536 8947</label>
    </div>
    <div>
        <label class="footer_text">ENDEREÇO</label>
        <br>
        <label class="footer_text2">Estrada para Boa Esperança,<br>Km 04Dois Vizinhos - PR</label>
    </div>
    <div>
        <img src="assets/assinatura_UTFPR_DV1.png" alt="logo do curso" style="width: 10vw; max-width: 500px;">
    </div>
</footer>
