body{
    background-color: #ebe6e6;
    margin-top:80px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    //rgba(255, 255, 255, 0.5)
}

#title_p{
    font-family: kreon;
    float: right;
    border-radius: 25px;
    padding: 6px;
    width: 40%;
    height: 9%;
    max-width: 80%;
    resize: none;
    border: none;
    size: auto;
    color: #841A1E;
    font-size: 18px;

    &::placeholder {
        font-family: kreon;
        color: #841A1E;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
        padding-top: 3px;
    }
}

#textarea_p{
    resize: none;
    margin-top: 5px;
    width: 100%;
    height: 78%;
    max-width: 100%;
    border-radius: 10px;
    border-color: rgb(174, 174, 174);
    padding: 15px;

    &::placeholder{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: medium;
    }
}

#button_attach_file {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_align_left {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_align_center {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_align_justify {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_align_right {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_bold {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}#button_format_italic {
    float: left;
    width: 5%;
    border-width: 0px;
    background-color: #ebe6e600;
}

#publish-button{
    background-color: transparent;
    border: none;
    color: #841A1E;
    float: right;
    font-weight: 900;
    size: 30px;
    line-height: 37.8px;
    font-family: kreon;
    font-size: large;
    
}
#save-button{
    background-color: transparent;
    border: none;
    color: #841A1E;
    float: right;
    margin-right: 5px;
    font-weight: 900;
    size: 30px;
    line-height: 37.8px;
    font-family: kreon;
    font-style: stro;
    font-size: large;
}
