
<body>
    <link href="boxtext.component.scss" rel="stylesheet"/>
    <div>
        <div id="icones">

            <button id="button_attach_file" onclick="buttonattach()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <button id="button_format_align_left" onclick="buttonaleft()">
                <mat-icon>format_align_left</mat-icon>
            </button>

            <button id="button_format_align_center" onclick="buttonacenter()">
                <mat-icon>format_align_center</mat-icon>
            </button>

            <button id="button_format_align_justify" onclick="buttonajustify()">
                <mat-icon>button_format_align_justify</mat-icon>
            </button>

            <button id="button_format_align_right" onclick="buttonaright()">
                <mat-icon>format_align_right</mat-icon>
            </button>

            <button id="button_format_bold" onclick="buttonbold()">
                <mat-icon>format_bold</mat-icon>
            </button>

            <button id="button_format_italic" onclick="buttonitalic()">
                <mat-icon>format_italic</mat-icon>
            </button>

        </div>

        <div id="title_post">
            <textarea id="title_p" name="title" placeholder="TÍTULO"></textarea>
        </div>

        <div id="textarea_post">
            <textarea id="textarea_p" name="textarea" placeholder="Digite seu texto aqui..."></textarea>
        </div>
        
        <div id="publicar-salvar">
            <button id="publish-button">PUBLICAR</button>
            <button id="save-button">SALVAR</button>
            <script>
                const editor = document.getElementById('textarea_p')

                function buttonaleft(){
                    editor.style.textAlign = 'left';
                }
                function buttonacenter(){
                    editor.style.textAlign = 'center';
                }
                function buttonajustify(){
                    editor.style.textAlign = 'justify';
                }
                function buttonaright(){
                    editor.style.textAlign = 'right';
                }
                function buttonbold(){
                    
                }
                function buttonitalic(){
                    
                }
            </script>
        </div>
    </div>
</body>
