.body {
    padding: 0 20px;

    .conteudo-principal {    
        .texto {
            font-size: 18px;
            padding-bottom: 15px;
        }
        .video {
            display: flex;
            justify-content: center;
        }
    }
    .conteudo-secundario {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .posts-recentes {
            width: 75%;
        }
        .infos {
            text-align: center;
            min-width: 150px;
            font-family: kreon;
            background: linear-gradient(#efefef, #D9D9D9);
            padding: 20px 25px;
            height: fit-content;
            margin-left: 15px;

            .titulo {
                color: #8a0000;
            }
            .descricao {
                font-size: 16px;
            }
        }
    }
}

.titulo {
    font-family: 'Kreon', sans-serif;
    font-weight: 600;
    color: #841A1E;
}

iframe {
    width: 270px;
    height: 152px;
}

@media(max-width: 899px) and (min-width: 400px) {
    iframe {
        width: 500px;
        height: 281px;
    }
}

@media(min-width: 900px) {
    iframe {
        width: 800px;
        height: 450px;
    }
}