<div class="geral">
    <div class="logos p-3">
        <img src="assets/logo.png" alt="logo" style="width: 10vw; max-width: 65px;">
        <img src="assets/logo-2.png" alt="logo" style="width: 85vw; max-width: 600px; margin-top: -5px; width: 95vw;">
    </div>
    <div class="campos">
        <app-input-custom class="w-100" [titulo]="'USUÁRIO'" [icone]="'person'"></app-input-custom>
        <app-input-custom class="w-100" [titulo]="'SENHA'" [icone]="'lock'" [tipoInput]="'password'"></app-input-custom>
        <div class="final p-2">
            <div class="esqueceu-senha">
                <span>Esqueci a senha</span>
                <span>Cadastro</span>
            </div>
            <button type="button" class="btn btn-secondary rounded-circle">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
    <div style="width: 100%; height: 150px; background-color: #d9d9d9;"></div> <!-- Alterar para o componente -->
</div>