<div class="px-5 spacer">
    <h2 class="titulo pb-2">{{dados.titulo}}</h2>
    
    <div *ngIf="dados.imagemPrincipal" class="row justify-content-center">
        <img src="{{dados.imagemPrincipal}}" alt="logo" style="width: 80vw; max-width: 800px;">
    </div>
    <p align="center">{{dados.legendaImagemPrincipal}}</p>
    <br>
    
    <div id="descricao"></div>
    <br>
    
    <div *ngIf="dados.imagemSecundaria" class="row justify-content-center">
        <img src="{{dados.imagemSecundaria}}" alt="logo" style="width: 80vw; max-width: 300px;">
    </div>
    <br>
    <p align="center">{{dados.legendaImagemSecundaria}}</p>
    <br>
    
    <div *ngFor="let editais of dados.editaisDuplaDiplomacao">
        <h4 class="subtitulo">{{editais.titulo}}</h4>
        <div *ngFor="let edital of editais.TextoELink">
            <a href="{{edital.link}}" target="_blank">{{edital.texto}}</a>
        </div>
    </div>
    <br>
    
    <div *ngFor="let editais of dados.editaisMobilidadeEstudantil">
        <h4 class="subtitulo">{{editais.titulo}}</h4>
        <div *ngFor="let edital of editais.TextoELink">
            <a href="{{edital.link}}" target="_blank">{{edital.texto}}</a>
        </div>
    </div>
    <br>
    
    <div *ngFor="let editais of dados.linksImportantes">
        <h4 class="subtitulo">{{editais.titulo}}</h4>
        <div *ngFor="let edital of editais.TextoELink">
            <a href="{{edital.link}}" target="_blank">{{edital.texto}}</a>
        </div>
    </div>
    <br>

    <div *ngIf="dados.professor">
        <h4 class="subtitulo">{{dados.professor.titulo}}</h4>
        <ul>
            <li *ngIf="dados.professor.nomeProf">
                <p class="m-0">
                    <b>Professor: </b>{{dados.professor.nomeProf}}
                </p>
            </li>
            <li *ngIf="dados.professor.telefoneProf">
                <p class="m-0">
                    <b>Telefone: </b>{{dados.professor.telefoneProf}}
                </p>
            </li>
            <li *ngIf="dados.professor.emailProf">
                <p class="m-0">
                    <b>E-mail: </b><a href="mailto:{{dados.professor.emailProf}}">{{dados.professor.emailProf}}</a>
                </p>
            </li>
            <li *ngIf="dados.professor.emailUniversidade">
                <p class="m-0">
                    <b>E-mail universidade: </b><a href="mailto:{{dados.professor.emailUniversidade}}">{{dados.professor.emailUniversidade}}</a>
                </p>
            </li>
            <li *ngIf="dados.professor.linkDeAjuda">
                <p class="m-0">
                    <b>Link de ajuda: </b>{{dados.professor.linkDeAjuda}}
                </p>
            </li>
        </ul>
    </div>
    <br>
</div>

<app-footer></app-footer>
