.titulo {
    font-family: 'Kreon', sans-serif;
    font-weight: 600;
    color: #841A1E;
}

a {
    text-decoration: none;
    color: #841A1E;
}

a:hover {
    text-decoration: underline;
}


@media (min-width: 800px) {
    .spacer {
        margin: 0 100px;
    }
}