.titulo {
    font-family: 'Kreon', sans-serif;
    font-weight: 600;
    color: #841A1E;
}

::ng-deep .mat-paginator-range-actions {
    .mat-paginator-range-label {
        color: #555;
        font-size: 15px;
    }

    button:not(:disabled) .mat-button-wrapper {
        color: #841A1E !important;
    }
}