<div class="px-5 spacer d-flex justify-content-center">
    <div *ngIf="dados.noticias" class="col-sm-12 col-md-10 col-lg-8">
        <h2 class="titulo pb-2">{{dados.titulo}}</h2>

        <div *ngFor="let noticia of dados.noticias; index as i; first as first; last as last">
            <app-noticia [titulo]="noticia.titulo" [midia]="noticia.midia" [conteudo]="noticia.conteudo"
                [idConteudo]="'conteudo'+i" [dataPublicacao]="noticia.dataPublicacao">
            </app-noticia>
            <hr *ngIf="!last">
        </div>
        <br>

        <mat-paginator [length]="totalNoticias" [pageSize]="5" [hidePageSize]="true" (page)="trocaPagina($event)"
            [showFirstLastButtons]="true">
        </mat-paginator>
        <br>
    </div>
</div>

<app-footer></app-footer>