.icones {
    display: flex;
    justify-content: space-between;
}

.icones * {
    border-width: 0px;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

::ng-deep .menu-box {
    background: linear-gradient(#EBE6E6, #ffffff94);
    box-shadow: none;
}

::ng-deep .menu-box button, a {
    color: #841A1E;
    font-size: 18px;
    font-family: 'Kreon', sans-serif;
}

::ng-deep .mat-menu-panel {
    max-width: 265px !important;
}

button {
    text-wrap: wrap;
    line-height: normal;
}

a {
    text-decoration: none;
}