<div class="p-3">
    <div class="icones">
        <button mat-button [matMenuTriggerFor]="menu" (mouseenter)="openMenu()" class="btn btn-block p-0"><mat-icon>menu</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="perfil" class="btn btn-block p-0"><mat-icon>person</mat-icon></button>
    </div>
    <div class="logos">
        <img src="assets/logo.png" alt="logo" style="width: 10vw; max-width: 65px;">
        <img src="assets/logo-2.png" alt="logo" style="width: 85vw; max-width: 600px; margin-top: -5px; width: 95vw;">
    </div>
</div>
<router-outlet></router-outlet>

<mat-menu #menu="matMenu" class="menu-box">
    <button mat-menu-item routerLink="">INÍCIO</button>
    <button mat-menu-item [matMenuTriggerFor]="curso">CURSO</button>
    <button mat-menu-item [matMenuTriggerFor]="noticias">NOTÍCIAS</button>
    <button mat-menu-item [matMenuTriggerFor]="coens">COENS</button>
    <button mat-menu-item routerLink="pos-graduacao">PÓS-GRADUAÇÃO</button>
    <button mat-menu-item [matMenuTriggerFor]="atividades">ATIVIDADES E PRODUÇÃO</button>
    <button mat-menu-item [matMenuTriggerFor]="sistemas">SISTEMAS</button>
    <button mat-menu-item [matMenuTriggerFor]="outros">OUTROS</button>
    <button mat-menu-item routerLink="conheca">CONHEÇA O ALAN</button>
</mat-menu>

<mat-menu #noticias="matMenu" class="menu-box">
    <button mat-menu-item routerLink="noticias">RECENTES</button>
    <button mat-menu-item routerLink="noticias/meus-posts">MEUS POSTS</button>
    <button mat-menu-item>ADMINISTRADOR</button>
</mat-menu>

<mat-menu #perfil="matMenu" class="menu-box">
    <button mat-menu-item>MEU PERFIL</button>
    <button mat-menu-item routerLink="../login">SAIR</button>
</mat-menu>

<mat-menu #curso="matMenu" class="menu-box">
    <button mat-menu-item routerLink="curso">DESCRIÇÃO DO CURSO</button>
    <button mat-menu-item routerLink="curso/matriz-curricular">MATRIZ CURRICULAR</button>
    <button mat-menu-item>ATIVIDADES</button>
    <button mat-menu-item>COMPLEMENTARES</button>
    <button mat-menu-item routerLink="curso/estagio-curricular">ESTÁGIO CURRICULAR</button>
    <button mat-menu-item>TRABALHO DE CONCLUSÃO DE CURSO</button>
    <button mat-menu-item>CENTRO ACADÊMICO</button>
    <button mat-menu-item routerLink="curso/internacionalizacao">INTERCIONALIZAÇÃO</button>
</mat-menu>

<mat-menu #coens="matMenu" class="menu-box">
    <button mat-menu-item>COORDENAÇÃO</button>
    <button mat-menu-item>DOCENTES</button>
    <button mat-menu-item>NÚCLEO DOCENTES</button>
    <button mat-menu-item>ESTRUTURANTE</button>
    <button mat-menu-item>COLEGIADO</button>
</mat-menu>

<mat-menu #atividades="matMenu" class="menu-box">
    <button mat-menu-item>PRODUÇÃO ACADÊMICA</button>
    <button mat-menu-item>GRUPOS DE PESQUISA</button>
    <button mat-menu-item routerLink="atividades-producao/projetos-extensao">PROJETOS DE EXTENSÃO</button>
</mat-menu>

<mat-menu #sistemas="matMenu" class="menu-box">
    <a *ngFor="let sistema of listaSistemas" 
        href="{{sistema.link}}" target="_blank">
        <button mat-menu-item>{{sistema.titulo}}</button>
    </a>
</mat-menu>

<mat-menu #outros="matMenu" class="menu-box">
    <button mat-menu-item routerLink="outros/horario-calendario">HORÁRIOS E CALENDÁRIOS</button>
    <button mat-menu-item routerLink="outros/legislacao">LEGISLAÇÃO</button>
    <button mat-menu-item routerLink="outros/logomarcas">LOGOMARCAS</button>
</mat-menu>