.titulo {
    font-family: 'Kreon', sans-serif;
    font-weight: 600;
}

.titulo, ::ng-deep a, .subtitulo {
    color: #841A1E;
}

::ng-deep a {
    text-decoration: none;
}

::ng-deep a:hover {
    text-decoration: underline;
}

img {
    height: fit-content;
}

p {
    margin: 0;
}

.data-publicacao {
    font-family: 'Kreon', sans-serif;
    font-size: medium;
    float: right;
}