<div class="px-4 spacer">
    <div *ngIf="dados.docentes" class="infos">
        <h2 class="titulo pb-2 col-lg-10 col-md-10 col-12">{{dados.titulo}}</h2>
        <div class="d-flex flex-wrap justify-content-center col-lg-10 col-md-10 col-sm-12">
            <div *ngFor="let item of dados.docentes; last as last" class="lista px-4 col-lg-6 col-md-12">
                <div class="w-100">
                    <img class="foto m-2" src="{{item.profileImagem.data.attributes.url}}" alt="Foto">
                    <div class="informacoes m-2">
                        <h4 class="nome">{{item.nome}}</h4>
                        <p class="nivelSuperior">{{item.nivelSuperior}}</p>
                        <a class="email" href="mailto:{{item.email}}">{{item.email}}</a>
                        <a class="lattesLink" target="_blank" href="{{item.lattesLink}}">Lattes</a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>