<div>
    <div *ngIf="dados.docentes" class="infos">
        <P class="Titulo">{{dados.titulo}}</P>
        <div class="d-flex flex-wrap">
            <div class="Lista"  *ngFor="let item of dados.docentes; last as last">
                <img class="Foto" src="{{item.profileImagem.data.attributes.url}}" alt="Foto">
                <h4 class="Nome">{{item.nome}}</h4>
                <p class="NivelSuperior">{{item.nivelSuperior}}</p>
                <a class="E-mail">{{item.email}}</a><br>
                <a target="_blank" class="lattesLink" href="{{item.lattesLink}}">LattesLink</a>
                <hr *ngIf="!last">
            </div>
        </div>    
    </div>
</div>
<app-footer></app-footer>
